@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="../../Content/image/tasktacklerabout.jpg" width="200" height="200" alt="">
        </div>
        <div class="col-md-9">
            <h2>About Task Tackler</h2>
            <p>We here at task tackler believe that no task is too big to be tackled. We want everyone to go to bed every night with a feeling of accomplishment and wake up excited for the next day.</p>
            <p>We believe that having one's affairs in order helps you deal with them in the most efficient manner. This is important no matter the scale and can keep your life as stress free as humanly possible.</p>
            <p>Whether you know it as منظم, 組, organisé, organisiert, οργανωμένος, skipulagt, organizzato, 編成, организирани, zorganizowany, организованный, iliyoandaliwa, sắp đặc, or just organized we are the website for you.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    @*<!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Customers</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
        </div>
        <!-- /.row -->*@
</div>

